@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 93%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 93%;

    --popover: 0 0% 10%;
    --popover-foreground: 0 0% 93%;

    --primary: 0 0% 93%;
    --primary-foreground: 0 0% 7%;

    --secondary: 0 0% 18%;
    --secondary-foreground: 0 0% 93%;

    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 63%;

    --accent: 0 0% 18%;
    --accent-foreground: 0 0% 93%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 93%;

    --border: 0 0% 22%;
    --input: 0 0% 22%;
    --ring: 0 0% 70%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono/fonts/webfonts/JetBrainsMono-Regular.woff2")
    format("woff2");
}

html {
  scroll-behavior: smooth;
}

.markdown-body {
  background-color: transparent !important;
  color: inherit !important;
}

.markdown-body ol {
  @apply list-decimal;
}

.markdown-body ul {
  @apply list-disc;
}

.markdown-body aside {
  @apply bg-muted text-muted-foreground;
  @apply border border-border rounded-sm;
  @apply my-4 p-4;
  @apply flex flex-col gap-2;
}

.markdown-body aside p {
  @apply mb-0;
}

.markdown-body img {
  @apply max-w-[100%] max-h-[50vh];
  @apply mx-auto my-4;
}

/* img + em (caption) */
.markdown-body img + em {
  @apply block text-center text-xs text-muted-foreground;
}

.markdown-body iframe {
  @apply max-w-[100%] max-h-[75vh];
  @apply mx-auto my-4;
}

body {
  overflow-x: hidden;
}

:root {
  --gapc-color: #89f336;
  --gapc-color-dark: #5f9b1a;
  --gapc-color-new: #ffffff;
  --gapc-color-new-dark: #1a1a1a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  /* This class applies the animation. 'forwards' keeps it at the end state (opacity: 1) */
  animation: fadeIn 5s ease-in-out forwards;
}
